.userInfo{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .user{
        display: flex;
        align-items: center;
        gap: 20px;

        img{
            width:50px;
            height:50px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .icons{
        display: flex;
        gap: 20px;
        padding:20px;

        
        img{
            width: 20px;
            height: 20px;
            cursor: pointer;
            font-weight: 500;
            
        }
    }
    button{
        padding:10px 20px;
        background-color: rgba(230,74,105,0.553);
        color:white;
        border:none;
        border: radius 5px;
        cursor: pointer;
        gap:10px;

        &.logout{
            padding:10px;
            background-color:#1a73e8;
        }

    }


}