.chat{
    flex:1;
    border-left: 1px solid #dddddd35;
    border-right: 1px solid #dddddd35;
    height:100%;
    display:flex;
    flex-direction: column;
    .top{
        padding: 10px;
        display:flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #dddddd35; 
    .user{
        display:flex;
        align-items: center;
        gap:20px;
        img{
            width:60px;
            height:60px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    .icons{
        display:flex;
        gap:20px;
        img{
            width:20px;
            height:20px;
        }
    }
    button{
        padding:10px 20px;
        background-color: rgba(230,74,105,0.553);
        color:white;
        border:none;
        border: radius 5px;
        cursor: pointer;
        gap:10px;

        &:hover{
            background-color: rgba(220,20,60,0.796);

        }

    }



    }
    .center{
        padding:20px;
        flex:1;
        overflow: scroll;
        display:flex;
        flex-direction: column;
        gap:20px;
        
        .message{
            align-self: flex-start;
            max-width: 70%;
            display:flex;
            gap:20px;

            &.own{
                align-self:flex-end ;
                .texts{
                    p{
                        background-color:#5183fe;
                    }
                }
            }
            img{
                width:30px;
                height:30px;
                border-radius: 50%;
                object-fit: cover;
            }
            .texts{
                flex:1;
                display:flex;
                flex-direction:column;
                gap:5px;
                p{
                    padding:20px;
                    background-color: rgba(17,25,40,0.3);
                    border-radius:10px;
                }
                span{
                    font-size: 13px;
                }
            }
        }
    }
    .bottom{
        padding: 20px;
        display:flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #dddddd35;
        margin-top: auto;
        input{
            flex:1;
            background-color: rgba(155, 148, 164, 0.5);
            border:none;
            outline:none;
            color:black;
            padding:20px;
            border-radius:10px;
            font-size: 16px;

            &:disabled{
                background-color: #5182feb4;
                cursor: not-allowed;
            }


        }
        .sendButton{
            background-color: #5183fe;
            color: white;
            padding: 10px 20px;
            border: 7px;
            border-radius: 5px;
            cursor: pointer;

            &:disabled{
                background-color: #5182feb4;
                cursor: not-allowed;
            }

        }

    }

}